/*This makes the body text look different*/
    body {
    background-color: rgb(248, 121, 121);
    color: rgb(33, 0, 219) ;
    text-align: center;
  }
  /*This makes the nacigation links look different*/
  ul {
    width: 30px;
    height: 20px;
    float: left ;
    padding:5 ;
    line-height: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: top 200px; ;
  }
  /*This makes the footer text look different*/
  footer{
      text-align: center;
      margin-right: 200px;
  }
  /*This makes the image look different*/
  #home {
    width: 46px;
    height: 100px;
    background: url(patrick.png) 0 0;
    margin-right: 10px;
   
  }
  /*This makes the header text look different*/
  header{
      text-align: center;
  }